.header {
    grid-area: header;
    background-color: rgba(26, 26, 26, 1);
    height: 10vh;
    color: #f6d738;
    font-size: 25px;
    text-transform: uppercase;
    width: 100vw;

    @media (max-width: 750px) {
        font-size: 18px; 
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media (max-width: 750px) {
         align-items: center;
         justify-content: space-between;   
         padding: 1em 3em;
        }

        @media (max-width: 450px) {
            
            padding: 1em 1em 0em 1em;
           }

        li {
            list-style-type: none;
            cursor: pointer;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.2);
                color: azure;
                font-weight: 700;
            }
        }

        .home-active {
            transform: scale(1.2);
            color: azure;
            font-weight: 700;
        }

        .exchange-active {
            transform: scale(1.2);
            color: azure;
            font-weight: 700;
        }

        .market-active {
            transform: scale(1.2);
            color: azure;
            font-weight: 700;
        }
    }
}